@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
html{
font-size: 16px;
}
body{
  font-size: 1rem;
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  color:#555555;
  ;
}
.container{
  background-color: #FFFFFF;
  height: 98%;
  width: 30em;
  box-sizing:border-box;
}
.sign_up_page_container{
  padding: 4.2em 2.5em;
  display: none;
}
.presentation_text{
  text-align: center;
  margin: 0 2em;
}
.presentation_text h1{
 font-size: 1.6em;
 font-weight: 500;
 margin-bottom: 1.8em ;
}

.presentation_text p{
  margin-bottom: 3em;
}
.input_wrapper{
  margin-bottom: 0.5em;
}
form input[type=text]{
  width: 100%;
  height: 2.8em;
  margin-top: 0.4em;
  

}
.sign_up_page_container label{
  font-size: 0.8em;
}
.error_msg{
  color: red;
  font-size: 0.75em;
}
.btn_wrapper{
  text-align: center;
  margin-top: 2em;
}
.btn{
  width: 10em;
  height: 2.5em;
  font-size: 1em;
  color: #FFFFFF;
  border: none;
  box-shadow: 0em 0.2em 0.2em #a5a4a4;
}
.btn_start, .btn_next{
  background-color: #028A3D;
}
.questions_page_container{
  padding: 3em 2.5em;
  font-size: 1.1em;
  display: none;
}
.question{
  text-align: center;
  margin-bottom: 2em;
}
.progress_bar_tool{
  margin-bottom: 3em;
}
.progress_bar_caption span{
  font-size: 0.75em;
  
}
.time_display{
  float: right;
}
.progress_bar, .progress_evolution{
  height: 0.5em;
  width: 100%;
  background: #DDDDDD;
  border-radius: 0.5em;
}
.progress_evolution{
  width: 50%;
  background: #028A3D;
}
.questions_page_container label{
  border: 0.0625em solid #DDDDDD;
  display: block;
  width: 100%;
  height: 2.5em;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1.8em;
  box-sizing:border-box;
}
.questions_page_container [input=radio]{
  font-size: 6em;
  z-index: -2;
  position: absolute;
  left: 10em;
}
.custom_radio_btn{
  width: 1em;
  height: 1em;
  border: 0.0625em solid #DDDDDD;
  border-radius: 50%;
  z-index: 2;
  background: #FFFFFF;
  margin: 1em; 
  position: absolute;
  left: 0.1em;
}
.answer_text{
  margin-left: 0.5em;
}
.buttons_wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.btn_quit{
  background: #EC880C;

}
.btn_next{
  opacity: 0.5;
}
.succeeded_test_page, .failure_test_page{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.name{
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.2em;
}
.email{

}
.success_icon, .failure_icon{
  width: 9em;
  height: 9em;
  margin: 2.5em auto;
  background-size: 100% 100%;
}
.success_icon{
  background: url('images/success_icon.png') no-repeat;
}
.quiz_success{
  font-weight: 700;
  margin-bottom: 1.8em;
}
.btn_home{
  background: #0880D6;
}
.failure_test_page{
  display: flex;
}
.failure_icon{
  background: url('images/failure_icon.png') no-repeat;
  background-size: 100% 100%;
}